@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*---- Paragraph project ---*/
.lato-1 {
  font-family: "lato";
  font-weight: 400;
  color: #727272;
  font-size: 14px;
}

/*--- Sub Header Sections ---*/
.lato-2 {
  font-family: "lato";
  font-weight: 300;
  color: #00BCD4;
}

/*--- Font for navlink, footer ---*/
.lato-3 {
  font-family: "lato";
  font-weight: 500;
}

/*--- Header Sections ---*/
.lato-4 {
  font-family: "lato";
  font-weight: 600;
  color: white;
}

.lato-5 {
  font-family: "lato";
  font-weight: 700;
  color: #727272;
}

.lato-6 {
  font-family: "lato";
  font-weight: 600;
  color: #727272;
}

/*--- Project Title inside content-card ---*/
.rale-1 {
  font-family: "raleway";
  font-weight: 800;
  color: #727272;
  font-size: 18px;
}

.rale-2 {
  font-family: "raleway";
  font-weight: 600;
  color: #727272;
  font-size: 18px;
}

/*--- Numbers Timeline Section ---*/
.monse-1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  color: #727272;
}

.monse-2 {
  font-family: "Montserrat";
  font-weight: 700;
  color: #00BCD4;
}

/*------------- Reset --------------------- */
h1, h2, h3, h4, h5, p, ul {
  margin: 0px;
}

/*------------- Big Content --------------------- */
.content {
  padding-left: 240px;
  margin-bottom: 0px;
}

@media only screen and (max-width : 992px) {
  .content {
    padding-left: 0;
  }
}

.container-logo {
  min-height: 150px;
  background-color: #00BCD4;
}

.container-logo img {
  margin-top: 55px;
}

.section-container {
  background-color: #FFFFFF;
  margin: 0;
}

.section-container-2 {
  /*background-image: url("/img/image-home-color.jpg");*/
  margin: 0;
  height: 740px;
}

.title-section {
  margin-bottom: 0px;
  min-height: 150px;
  background-color: #00BCD4;
}

.text-title-section {
  margin-left: 20px;
  margin-top: 35px;
}

.my-text-align {
  text-align: center;
}

.my-margin-bottom {
  margin-bottom: 0px;
}

.my-margin-2 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.floating-absolute {
  float: right;
  right: 25px;
  top: 320px;
}

.floating-absolute-2 {
  position: fixed;
  float: right;
  right: 25px;
  top: 320px;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
  .title-section {
    min-height: 100px;
  }
  .text-title-section {
    margin: 20px 0 0 0;
    text-align: center;
  }
  .lato-2 {
    text-align: center;
}

.monse-1 {
  text-align: center;
 }
}

#home-section {
  background-image: url("../img/pattern-home.png");
}
/*------------- About ---------------------------------*/
.bio-1 p {
  text-align: justify;
  text-justify: auto;
  font-size: 14px;
}

.img-margin-1 {
margin-top: 20px;
}
/*------------- Timeline ------------------------------*/
.icon-timeline i {
  margin-right: 5px;
  color: #00BCD4;
}

.icon-timeline li {
  margin-top: 5px;
  margin-right: 5px;
  display: inline-block;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
  .icon-timeline {
    text-align: center;
  }
}
/*------------- Portfolio Section --------------------- */
.margin-1 {
  margin: 15px 0 10px 0;
}

.content-card {
  display: inherit;
}

.content-card i {
  padding-right: 15px;
  padding-left: 15px;
  color: grey;
}

.content-card i:hover {
  color: #00BCD4;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
  .content-card {
    display: none;
  }
}

/*------------- Modal --------------------- */
.modal {
  background-color: black;
}

/*------------- Menu Desktop --------------------- */
.menu-desktop {
  background-color: #fafafa;
}

.menu-desktop a {
  color: #727272;
  padding-left: 30px;
}

.menu-desktop a:hover {
  color: #00BCD4;
}

.menu-desktop li {
  padding: 0px;
}

.line-divider-menu {
  background-color: #B6B6B6;
}

.line-divider-menu-3 {
  background-color: #B6B6B6;
  margin-bottom: 8px;
}

.line-divider-menu-2 {
  background-color: #0097A7;
  height: 3px;
}

.underline {
  border-right: 10px solid #bdbdbd;
}

/*------------- Menu Mobile --------------------- */
.menu-mobile {
  display: none;
}

.menu-mobile i {
  color: #727272;
}

.my-nav {
  width: 90px;
}

.my-nav i {
  color: #727272;
}

.my-nav i:hover {
  color: #0097A7;
}

.mdi-navigation-menu {
  color: #eceff1;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
  .menu-mobile {
    display: inherit;
    background-color: #B2EBF2;
  }
}
/*------------- Contact --------------------- */

.contact-buttom a  {
  float: right;
}

.contact-buttom a:hover {
  color: #B2EBF2;
}

/* label color */
.input-field label {
  color: #00BCD4;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #00BCD4;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #00BCD4;
  box-shadow: 0 1px 0 0 #00BCD4;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #00BCD4;
  box-shadow: 0 1px 0 0 #00BCD4;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #d32f2f;
  box-shadow: 0 1px 0 0 #d32f2f;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #00BCD4;
}

.input-field .prefix {
  color: #727272;
}

 .my-form {
   margin: 40px 0;
 }

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #00BCD4;w;
  box-shadow: 0 1px 0 0 #00BCD4;;
}

input[type=email]:focus:not([readonly]) {
  border-bottom: 1px solid #00BCD4;w;
  box-shadow: 0 1px 0 0 #00BCD4;
}

/*------------- Footer --------------------- */

#contact-section {
  background-image: url();
}

footer.page-footer {
  margin-top: 0px;
  padding: 20px 0 20px 0;
  background-color: #B2EBF2;
}

.footer-col-1 li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px 20px 10px;
}

.footer-col-1 a {
  color: #727272;
}

.footer-col-1 a:hover{
  color: #B6B6B6;
}

.footer-col-2 li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px 20px 10px;
}

.footer-col-2 a {
  color: #727272;
}

.footer-col-2 a:hover{
  color: #B6B6B6;
}

@media only screen and (max-width : 992px) {
  .footer-col-1 li {
    display: list-item;
  }
}

.my-copyright {
  color: #727272;
}
